html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7f7ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next-prerender-indicator {
  display: none;
}
.fw4{
  font-weight: 400;
}


nav {
  background: #EBEBFF;
  height: 100px;
  padding: 10px;
  
}
  nav .menuItems {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    
  }
  nav .menuItems li {
    margin: 10px 30px;
    display: inline-block;
  }
  nav .menuItems li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }

  nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #7070ff;
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
          
nav .menuItems li a:hover::before{     
  width: 100%;
  transition: all 0.3s ease-in-out;      
}
      
/* color: #8254ff; */